<div>
        <a routerLink="Trangchu">
            <button>TRANG CHỦ</button>
        </a>

        <a routerLink="Vanbanden" [routerLinkActive]="'active'">
            <button>VĂN BẢN ĐẾN</button>
        </a>

        <a href="#">
            <button>VĂN BẢN ĐI</button>
        </a>

        <a href="#">
            <button>DỰ THẢO - PHIẾU TRÌNH</button>
        </a>

        <a href="#">
            <button>BÁO CÁO</button>
        </a>

        <a href="#">
            <button>HỒ SƠ CÔNG VIỆC</button>
        </a>

        <a href="#">
            <button>HỒ SƠ LƯU TRỮ</button>
        </a>

        <a href="#">
            <button>GIAO NHẬN NHIỆM VỤ</button>
        </a>

        <a href="#">
            <button>TIỆN ÍCH</button>
        </a>

        <a href="#">
            <button>QUẢN TRỊ HỆ THỐNG</button>
        </a>

</div>