<div class="header-container">
    <div class="header-left">
        <p class="header-left-name">SỞ THÔNG TIN VÀ TRUYỀN THÔNG</p>
        <p class="header-left-work">QUẢN LÝ VĂN BẢN VÀ ĐIỀU HÀNH TÁC NGHIỆP (170)</p>
    </div>

    <div class="header-right">
        <p>SỞ THÔNG TIN VÀ TRUYỀN THÔNG: QUẢN TRỊ</p>
        <p>
            <a href="">TT TÀI KHOẢN</a>
            <a href="">ĐỔI MẬT KHẨU</a>
            <a href="">ĐĂNG NHẬP LẠI</a>
            <a href="">ĐĂNG XUẤT</a>
            <a href="">HỖ TRỢ ONLINE</a>
        </p>
    </div>
</div>