@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.to-do-app-adding {
    // width: 100px;
    // height: 110px;
    // border: 1px solid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 999;
}


.to-do-app-adding-btn {
    color: rgb(88, 167, 226);;
    font-size: 90px;
}