<div>
    <button>
        <p>TRANG CHỦ</p>
    </button>
    <button>
        <p>VĂN BẢN ĐẾN</p>
    </button>
    <button>
        <p>VĂN BẢN ĐI</p>
    </button>
    <button>
        <p>DỰ THẢO - PHIẾU TRÌNH</p>
    </button>
    <button>
        <p>BÁO CÁO</p>
    </button>
    <button>
        <p>HỒ SƠ CÔNG VIỆC</p>
    </button>
    <button>
        <p>HỒ SƠ LƯU TRỮ</p>
    </button>
    <button>
        <p>GIAO NHẬN NHIỆM VỤ</p>
    </button>
    <button>
        <p>TIỆN ÍCH</p>
    </button>
    <button>
        <p>QUẢN TRỊ HỆ THỐNG</p>
    </button>
</div>